<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>

        .box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
}

    </style>

    <title>Wsparcie</title>

<body>
<form method="POST" action="/" >
 <div class="container">
  <div class="row">
    <div class="col-sm-4" style="text-align: center">
        <img alt="Polska Strefa Inwestycji" height="75" src="http://kssse.pl/assets/img/psi.png">
    </div>
    <div class="col-sm-4" style="text-align: center" >
        <img alt="Kostrzyńsko-Słubicka Specjalna Strefa Ekonomiczna S.A."
             height="75" src="http://kssse.pl/assets/img/KSSSE_logo.png">
    </div>
    <div class="col-sm-4" style="text-align: center" >
        <img alt="Invest in the West" height="75" src="http://kssse.pl/assets/img/Invest_in_the_west.png">
    </div>
  </div>
</div>
<br/>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" style="text-align: center" >Kryterium ilościowe</h1>
    <p class="lead" style="text-align: center" >Pokaż minimakne nakłady w wybranych lokalizacjach</p>
  </div>
</div>


<div class="container">
  <div class="row">

      <!--KOLUMNA1-->
    <div class="col-sm">
    <h3 style="text-align: center" >Lubuskie</h3>
<div class="box">
            <div class="form-group" style="width: 14rem; text-align: center">

             <label for="exampleFormControlSelect1">Wybierz powiat</label>
    <select class="form-control" id="exampleFormControlSelect1" name="powiatl">
        <option></option>
        {% for powiat in lubuskie_powiaty %}
      <option>{{ powiat.powiat }}</option>
        {% endfor %}
    </select>
            </div>
    </div>

    </div>

            <!--KOLUMNA2-->
    <div class="col-sm">
    <h3 style="text-align: center">Wielkopolskie</h3>
<div class="box">
                    <div class="form-group" style="width: 14rem; text-align: center">

             <label for="exampleFormControlSelect1">Wybierz powiat</label>
    <select class="form-control" id="exampleFormControlSelect1" name="powiatw">
        <option></option>
        {% for powiat in wielkopolskie_powiaty %}
      <option>{{ powiat.powiat }}</option>
        {% endfor %}
    </select>
    </div>
</div>
    </div>

            <!--KOLUMNA3-->
    <div class="col-sm">
    <h3 style="text-align: center">Zachodniopomorskie</h3>
<div class="box">
        <div class="form-group" style="width: 14rem; text-align: center">

             <label for="exampleFormControlSelect1">Wybierz powiat</label>
    <select class="form-control" id="exampleFormControlSelect1" name="powiatz">
        <option></option>
        {% for powiat in zachodniopomorskie_powiaty %}
      <option>{{ powiat.powiat }}</option>
        {% endfor %}
    </select>
    </div>
</div>
    </div>
  </div>
         <p style="text-align: center"> <button type="submit" style="text-align: center"
                                                class="btn btn-success btn-lg">
             Pokaż warunki</button>
   </p>
</div>

<hr />

</form>

<div class="container">



<p style="text-align: center">Powiat: {{ powiatl }}</p>

{% if gminyl or gminyw or gminyz %}
{% include 'results.html' %}
{% else %}
PROBLEM
{% endif %}

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>